@media (prefers-color-scheme: dark) {
  :root {
    --bg: #010101;
    --text: #ffffff;
    --subtext: #8f8f8f;
    --linktext: #cb782f;
    --underline: #444444;
    --sectionbg: #1c1c1e;
    --buttoncolor: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
 
    --text: #000000;
    --subtext: #8f8f8f;
    --linktext: #cb782f;
    --underline: #dadada;
    --sectionbg: #ffffff;
    --buttoncolor: #ffffff;
  }
}

html {
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-position: center 10%;
  background-attachment: fixed;
  background-size: cover;
}

/* For mobile devices */

@media only screen and (max-width: 767px) {
  body {
    /*background-image: url(./background-photo-mobile-devices.jpg);*/
    /*background-position: center center;*/
    background-image:none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
  }

}

@media only screen and (min-width: 767px) {
  body {
    margin-left: 80px;
    margin-right: 80px;
    float: right;
    height: 100vh;
  }

}

body {
  font-family: "Helvetica", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  /*float: right;*/
  /*margin-bottom: 50px;*/
  margin-top: 0px;
  /*margin-left: 80px;*/
  /*margin-right: 80px;*/

}



.header {

  margin: auto;
  /*padding-left: 30px;*/
  /*margin-top: 20px;*/
  /*margin-bottom: 20px;*/
}

.header__avatar {
  margin: auto;
  border-radius: 50%;
}

.centered {
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  margin: auto;
}

beauty-rotate {
  margin: auto;
  /*border: solid 2px violet;*/
  /*margin-left: 50px;*/
  height: auto; 
  width: auto;
  overflow: hidden;
  object-fit: contain;
  /*-webkit-transition: all 1s ease;
          transition: all 1s ease;*/

.header__title {
  margin: 0px 20px 0px 20px;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Helvetica Neue";
  text-align: center;
  
  
}

.header__subtitle {
  color: var(--subtext);
  font-size: 18px;
  font-style: italic;
  line-height: 0;
  margin-top: 20px;
  text-align: center;
}


.header__container {
  list-style-type: none;
  background: var(--sectionbg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 0px 20px ;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  /*margin: 0;*/
  /*padding-right: 20px;*/
  /*border: sienna 2px solid;*/
}

.links {
  width: 320px;
  /*margin-bottom: 40px;*/
}

.links__header {
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 1.4;
  /*margin: center;*/
  text-align: center;
}

.links__container {
  list-style-type: none;
  background: var(--sectionbg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  /*font-size: calc(14px + 0.2vw);*/
  /*font-size: 1.4;*/
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid var(--underline);
  width: 320px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: var(--linktext);
}

.links__title {
  margin: 0;
  min-width: 100px;
}

